.bizpkg-icon {
	background-image: url(../images/biz-pkg.png) !important;
	background-repeat: no-repeat;
}

.delete-icon {
	background-image: url(../images/delete.png) !important;
	background-repeat: no-repeat;
}

.riskreport-icon {
	background-image: url(../images/riskreport.gif) !important;
	background-repeat: no-repeat;
}

.deselect-all-icon {
	background-image: url(../images/deselect-all.png) !important;
	background-repeat: no-repeat;
}

.select-all-icon {
	background-image: url(../images/select-all.png) !important;
	background-repeat: no-repeat;
}

.customers-icon {
	background-image: url(../images/customers.png) !important;
	background-repeat: no-repeat;
}

.audit-icon {
	background-image: url(../images/audit.png) !important;
	background-repeat: no-repeat;
}

.dimension-icon {
	background-image: url(../images/dimension.png) !important;
	background-repeat: no-repeat;
}

.bizreport-icon {
	background-image: url(../images/bizreport.png) !important;
	background-repeat: no-repeat;
}

.user-icon {
	background-image: url(../images/user.png) !important;
	background-repeat: no-repeat;
}

.user-group-icon {
	background-image: url(../images/user_group.png) !important;
	background-repeat: no-repeat;
}

.download-icon {
	background-image: url(../images/download.png) !important;
	background-repeat: no-repeat;
}

.upload-icon {
	background-image: url(../images/upload.png) !important;
	background-repeat: no-repeat;
}

.role-icon {
	background-image: url(../images/role.png) !important;
	background-repeat: no-repeat;
}

.search-icon {
	background-image: url(../images/search.png) !important;
	background-repeat: no-repeat;
}

.reset-icon {
	background-image: url(../images/reset.png) !important;
	background-repeat: no-repeat;
}

.print-icon {
	background-image: url(../images/print.png) !important;
	background-repeat: no-repeat;
}

.group-icon {
	background-image: url(../images/group.png) !important;
	background-repeat: no-repeat;
}

.detail-icon {
	background-image: url(../images/detail.png) !important;
	background-repeat: no-repeat;
}

.content-icon {
	background-image: url(../images/content.png) !important;
	background-repeat: no-repeat;
}

.navigator-riskmgr {
	background-image: url(../images/management.png) !important;
	background-repeat: no-repeat;
}

.navigator-monitor {
	background-image: url(../images/monitor.png) !important;
	background-repeat: no-repeat;
}

.navigator-alert {
	background-image: url(../images/alert.png) !important;
	background-repeat: no-repeat;
}

.navigator-brush {
	background-image: url(../images/brush.png) !important;
	background-repeat: no-repeat;
}

.navigator-archive {
	background-image: url(../images/archive.png) !important;
	background-repeat: no-repeat;
}

.navigator-mchinfo {
	background-image: url(../images/archive-mchinfo.png) !important;
	background-repeat: no-repeat;
}

.navigator-control {
	background-image: url(../images/control.png) !important;
	background-repeat: no-repeat;
}

.navigator-list {
	background-image: url(../images/list.png) !important;
	background-repeat: no-repeat;
}

.navigator-system {
	background-image: url(../images/system.png) !important;
	background-repeat: no-repeat;
}

.navigator-attention {
	background-image: url(../images/attention.png) !important;
	background-repeat: no-repeat;
}

.navigator-process {
	background-image: url(../images/process.png) !important;
	background-repeat: no-repeat;
}

.navigator-customer-query {
	background-image: url(../images/customer-query.png) !important;
	background-repeat: no-repeat;
}

.navigator-rank-history {
	background-image: url(../images/rank-history.png) !important;
	background-repeat: no-repeat;
}

.navigator-rank {
	background-image: url(../images/rank.png) !important;
	background-repeat: no-repeat;
}

.navigator-user-settings {
	background-image: url(../images/user-settings.png) !important;
	background-repeat: no-repeat;
}

.navigator-business {
	background-image: url(../images/business.png) !important;
	background-repeat: no-repeat;
}

.navigator-engines {
	background-image: url(../images/engines.png) !important;
	background-repeat: no-repeat;
}

.navigator-preprocessors {
	background-image: url(../images/preprocessors.gif) !important;
	background-repeat: no-repeat;
}

.navigator-whitelist {
	background-image: url(../images/whitelist.png) !important;
	background-repeat: no-repeat;
}

.navigator-graylist {
	background-image: url(../images/graylist.png) !important;
	background-repeat: no-repeat;
}

.navigator-blacklist {
	background-image: url(../images/blacklist.png) !important;
	background-repeat: no-repeat;
}

.navigator-horrorlist {
	background-image: url(../images/horrorlist.png) !important;
	background-repeat: no-repeat;
}

.navigator-concernlist {
	background-image: url(../images/concernlist.png) !important;
	background-repeat: no-repeat;
}

.navigator-limitcontrol {
	background-image: url(../images/limitcontrol.png) !important;
	background-repeat: no-repeat;
}

.navigator-risklevel {
	background-image: url(../images/risklevel.png) !important;
	background-repeat: no-repeat;
}

.navigator-risktype {
	background-image: url(../images/risktype.png) !important;
	background-repeat: no-repeat;
}

.navigator-securitypolicy {
	background-image: url(../images/security_policy.png) !important;
	background-repeat: no-repeat;
}

.navigator-report {
	background-image: url(../images/report.png) !important;
	background-repeat: no-repeat;
}

.navigator-chart {
	background-image: url(../images/chart.png) !important;
	background-repeat: no-repeat;
}

.navigator-point {
	background-image: url(../images/point.png) !important;
	background-repeat: no-repeat;
}

.navigator-aml {
	background-image: url(../images/aml.png) !important;
	background-repeat: no-repeat;
}

.tab-home {
	background-image: url(../images/home.png) !important;
	background-repeat: no-repeat;
}

.tab-close {
	background-image: url(../images/close.png) !important;
	background-repeat: no-repeat;
}

.tab-close-all {
	background-image: url(../images/close-all.png) !important;
	background-repeat: no-repeat;
}

.tab-close-other {
	background-image: url(../images/close-other.png) !important;
	background-repeat: no-repeat;
}

.tab-add-icon {
	background-image: url(../images/add.png) !important;
	background-repeat: no-repeat;
}

.tab-edit-icon {
	background-image: url(../images/edit.png) !important;
	background-repeat: no-repeat;
}

.tab-save-icon {
	background-image: url(../images/save.png) !important;
	background-repeat: no-repeat;
}

.tab-remove-icon {
	background-image: url(../images/remove.png) !important;
	background-repeat: no-repeat;
}

.tab-refresh-icon {
	background-image: url(../images/refresh.png) !important;
	background-repeat: no-repeat;
}

.tab-active-icon {
	background-image: url(../images/active.png) !important;
	background-repeat: no-repeat;
}

.tab-endcase-icon {
	background-image: url(../images/endcase.png) !important;
	background-repeat: no-repeat;
}

.button-ok {
	background-image: url(../images/ok.png) !important;
	background-repeat: no-repeat;
}

.button-cancel {
	background-image: url(../images/cancel.png) !important;
	background-repeat: no-repeat;
}

.import-icon {
	background-image: url(../images/import.png) !important;
	background-repeat: no-repeat;
}

.help-icon {
	background-image: url(../images/information-balloon.png) !important;
	background-repeat: no-repeat;
}

.stop-icon {
	background-image: url(../images/stop.png) !important;
	background-repeat: no-repeat;
}

.notify-icon {
	background-image: url(../images/notify.png) !important;
	background-repeat: no-repeat;
}

.sound-icon {
	background-image: url(../images/sound.png) !important;
	background-repeat: no-repeat;
}

.navigator-verify {
	background-image: url(../images/verify.gif) !important;
	background-repeat: no-repeat;
}

.navigator-notify {
	background-image: url(../images/notify1.png) !important;
	background-repeat: no-repeat;
}

.compare-icon {
	background-image: url(../images/compare.png) !important;
	background-repeat: no-repeat;
}

.navigator-check {
	background-image: url(../images/check-list.png) !important;
	background-repeat: no-repeat;
}

.record-icon {
	background-image: url(../images/record.png) !important;
	background-repeat: no-repeat;
}

.relation-analyse {
	background-image: url(../images/rela-analyse.png) !important;
	background-repeat: no-repeat;
}

.navigator-hammer {
	background-image: url(../images/hammer.png) !important;
	background-repeat: no-repeat;
}

.case-list-icon {
	background-image: url(../images/case-list.png) !important;
	background-repeat: no-repeat;
}

.assign-icon {
	background-image: url(../images/assign.png) !important;
	background-repeat: no-repeat;
}

.assign-edit-icon {
	background-image: url(../images/assign-edit.png) !important;
	background-repeat: no-repeat;
}

.assign-setting-icon {
	background-image: url(../images/assign_setting.png) !important;
	background-repeat: no-repeat;
}

.report-word-icon {
	background-image: url(../images/report-word.png) !important;
	background-repeat: no-repeat;
}

.package-icon {
	background-image: url(../images/package.png) !important;
	background-repeat: no-repeat;
}

.upload-icon {
	background-image: url(../images/upload.png) !important;
	background-repeat: no-repeat;
}

.gen-msg-icon {
	background-image: url(../images/gen-msg.png) !important;
	background-repeat: no-repeat;
}

/*现在定义一个左侧导航的ICON需要定位3个地方配置,xxxxx-a表示默认白色图标,xxxx-b表示展开后蓝色图标*/
.medsea-system-icon{
    background-image:url('../images/medsea-system-icon-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.medsea-system-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .medsea-system-icon{
    background-image:url('../images/medsea-system-icon-a.png') !important;
    background-repeat: no-repeat;
}

.credit-dashboard-icon{
    background-image:url('../images/credit-dashboard-icon-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.credit-dashboard-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .credit-dashboard-icon{
    background-image:url('../images/credit-dashboard-icon-a.png') !important;
    background-repeat: no-repeat;
}
.credit-risk-icon{
    background-image:url('../images/credit-risk-icon-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.credit-risk-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .credit-risk-icon{
    background-image:url('../images/credit-risk-icon-a.png') !important;
    background-repeat: no-repeat;
}
.credit-credit-icon{
    background-image:url('../images/credit-credit-icon-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.credit-credit-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .credit-credit-icon{
    background-image:url('../images/credit-credit-icon-a.png') !important;
    background-repeat: no-repeat;
}
.credit-namelist-icon{
    background-image:url('../images/credit-namelist-icon-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.credit-namelist-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .credit-namelist-icon{
    background-image:url('../images/credit-namelist-icon-a.png') !important;
    background-repeat: no-repeat;
}
.credit-query-icon{
    background-image:url('../images/credit-query-icon-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.credit-query-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .credit-query-icon{
    background-image:url('../images/credit-query-icon-a.png') !important;
    background-repeat: no-repeat;
}
.credit-report-icon{
    background-image:url('../images/credit-report-icon-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.credit-report-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .credit-report-icon{
    background-image:url('../images/credit-report-icon-a.png') !important;
    background-repeat: no-repeat;
}
.credit-setting-icon{
    background-image:url('../images/credit-setting-icon-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.credit-setting-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .credit-setting-icon{
    background-image:url('../images/credit-setting-icon-a.png') !important;
    background-repeat: no-repeat;
}


.medsea-book-icon{
    background-image:url('../images/medsea-book-icon-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.medsea-book-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .medsea-book-icon{
    background-image:url('../images/medsea-book-icon-a.png') !important;
    background-repeat: no-repeat;
}
.shouxin-fxhc-icon{
    background-image:url('../images/shouxin-fxhc-icon-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.shouxin-fxhc-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .shouxin-fxhc-icon{
    background-image:url('../images/shouxin-fxhc-icon-a.png') !important;
    background-repeat: no-repeat;
}
.shouxin-rgsh-icon{
    background-image:url('../images/shouxin-rgsh-icon-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.shouxin-rgsh-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .shouxin-rgsh-icon{
    background-image:url('../images/shouxin-rgsh-icon-a.png') !important;
    background-repeat: no-repeat;
}
.shouxin-sy-icon{
    background-image:url('../images/shouxin-sy-icon-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.shouxin-sy-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .shouxin-sy-icon{
    background-image:url('../images/shouxin-sy-icon-a.png') !important;
    background-repeat: no-repeat;
}
.medsea-bbbt-icon{
    background-image:url('../images/medsea-bbpt-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.medsea-bbbt-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .medsea-bbbt-icon{
    background-image:url('../images/medsea-bbpt-a.png') !important;
    background-repeat: no-repeat;
}
.medsea-btn-add-icon{
    background: url('../images/medsea-btn-add-icon.png') no-repeat !important;
}
.medsea-ajglpt-icon{
    background-image:url('../images/medsea-ajglpt-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.medsea-ajglpt-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .medsea-ajglpt-icon{
    background-image:url('../images/medsea-ajglpt-a.png') !important;
    background-repeat: no-repeat;
}

.medsea-fcpt-icon{
    background-image:url('../images/medsea-fcpt-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.medsea-fcpt-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .medsea-fcpt-icon{
    background-image:url('../images/medsea-fcpt-a.png') !important;
    background-repeat: no-repeat;
}

.medsea-khfxda-icon{
     background-image:url('../images/medsea-khfxda-b.png') !important;
     background-repeat: no-repeat;
     width: 24px;
 }
.medsea-khfxda-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .medsea-khfxda-icon{
    background-image:url('../images/medsea-khfxda-a.png') !important;
    background-repeat: no-repeat;
}

.medsea-mdgl-icon{
    background-image:url('../images/medsea-mdgl-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.medsea-mdgl-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .medsea-mdgl-icon{
    background-image:url('../images/medsea-mdgl-a.png') !important;
    background-repeat: no-repeat;
}

.medsea-fxdp-icon{
    background-image:url('../images/medsea-fxdp-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.medsea-fxdp-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .medsea-fxdp-icon{
    background-image:url('../images/medsea-fxdp-a.png') !important;
    background-repeat: no-repeat;
}

.medsea-gzxl-icon{
	background-image:url('../images/medsea-gzxl-b.png') !important;
	background-repeat: no-repeat;
	width: 24px;
}
.medsea-gzxl-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .medsea-gzxl-icon{
	background-image:url('../images/medsea-gzxl-a.png') !important;
	background-repeat: no-repeat;
}

.medsea-wgpcgl-icon{
    background-image:url('../images/medsea-wgpcgl-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.medsea-wgpcgl-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .medsea-wgpcgl-icon{
    background-image:url('../images/medsea-wgpcgl-a.png') !important;
    background-repeat: no-repeat;
}

.medsea-mahjong-icon{
    background-image:url('../images/medsea-mahjong-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.medsea-mahjong-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .medsea-mahjong-icon{
    background-image:url('../images/medsea-mahjong-a.png') !important;
    background-repeat: no-repeat;
}

.medsea-cake-icon{
    background-image:url('../images/medsea-cake-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.medsea-cake-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .medsea-cake-icon{
    background-image:url('../images/medsea-cake-a.png') !important;
    background-repeat: no-repeat;
}

.medsea-credit-icon{
    background-image:url('../images/medsea-credit-b.png') !important;
    background-repeat: no-repeat;
    width: 24px;
}
.medsea-credit-icon-a,.x-panel-header.x-panel-header-default-collapsed-top .medsea-credit-icon{
    background-image:url('../images/medsea-credit-a.png') !important;
    background-repeat: no-repeat;
}

.medsea-btn-edit-icon{
    background: url('../images/medsea-btn-ejcd-icon.png') no-repeat !important;
}
.medsea-btn-search-icon{
    background: url('../images/medsea-btn-search-icon.png') no-repeat !important;
}
.medsea-btn-refresh-icon{
    background: url('../images/medsea-btn-sx-icon.png') no-repeat !important;
}
.medsea-btn-print-icon{
    background: url('../images/medsea-btn-pinter-icon.png') no-repeat !important;
}
.medsea-btn-delete-icon{
    background: url('../images/medsea-btn-delete-icon.png') no-repeat !important;
}
.medsea-btn-reset-icon{
    background: url('../images/medsea-btn-reset-icon.png') no-repeat !important;
}
.medsea-btn-high-search-icon{
    background: url('../images/medsea-btn-high-search-icon.png') no-repeat !important;
}
.medsea-btn-download-icon{
    background: url('../images/medsea-btn-download-icon.png') no-repeat !important;
}
.medsea-btn-fp-icon{
    background: url('../images/medsea-btn-fp-icon.png') no-repeat !important;
}
.medsea-btn-pd-icon{
    background: url('../images/medsea-btn-pd-icon.png') no-repeat !important;
}
.medsea-btn-save-icon{
    background: url('../images/medsea-btn-save-icon.png') no-repeat !important;
}
.medsea-btn-cswj-icon{
    background: url('../images/medsea-btn-cswj-icon.png') no-repeat !important;
}
.medsea-oper-add-icon{
    background: url('../images/medsea-oper-add-icon.png') no-repeat !important;
}
.medsea-oper-delete-icon{
    background: url('../images/medsea-oper-delete-icon.png') no-repeat !important;
}
.medsea-oper-yes-icon{
    background: url('../images/medsea-oper-yes-icon.png') no-repeat !important;
}
.medsea-oper-no-icon{
    background: url('../images/medsea-oper-no-icon.png') no-repeat !important;
}
.medsea-btn-gkzt-icon{
    background: url('../images/medsea-btn-gkzt-icon.png') no-repeat !important;
}
.medsea-btn-qtxx-icon{
    background: url('../images/medsea-btn-qtxx-icon.png') no-repeat !important;
}
.medsea-btn-skf-icon{
    background: url('../images/medsea-btn-skf-icon.png') no-repeat !important;
}
.medsea-btn-yjrh-icon{
    background: url('../images/medsea-btn-yjrh-icon.png') no-repeat !important;
}
.medsea-btn-zff-icon{
    background: url('../images/medsea-btn-zff-icon.png') no-repeat !important;
}
.medsea-btn-key-icon{
    background: url('../images/medsea-btn-key-icon.png') no-repeat !important;
}
.medsea-btn-each-icon{
    background: url('../images/medsea-btn-each-icon.png') no-repeat !important;
}
.shouxin-btn-dc-icon{
    background: url('../images/shouxin-btn-dc-icon.png') no-repeat !important;
}
.shouxin-btn-dr-icon{
    background: url('../images/shouxin-btn-dr-icon.png') no-repeat !important;
}
.shouxin-btn-jy-icon{
    background: url('../images/shouxin-btn-jy-icon.png') no-repeat !important;
}
.shouxin-btn-qy-icon{
    background: url('../images/shouxin-btn-qy-icon.png') no-repeat !important;
}
.medsea-btn-skf-icon{
    background: url('../images/medsea-btn-skf-icon.png') no-repeat !important;
}
.medsea-btn-yjrh-icon{
    background: url('../images/medsea-btn-yjrh-icon.png') no-repeat !important;
}
.medsea-btn-zff-icon{
    background: url('../images/medsea-btn-zff-icon.png') no-repeat !important;
}
.medsea-btn-xsmgsj-icon {
	background: url('../images/medsea-btn-xstmsj-icon.png') no-repeat center !important;
}
.credit40-btn-fp-icon{
    background: url('../images/credit40-btn-fp-icon.png') no-repeat !important;
}
.credit40-btn-jh-icon{
    background: url('../images/credit40-btn-jh-icon.png') no-repeat !important;
}
.credit40-btn-save-icon{
    background: url('../images/credit40-btn-save-icon.png') no-repeat !important;
}
.credit40-btn-complete-icon{
    background: url('../images/credit40-btn-complete-icon.png') no-repeat !important;
}
.medsea-btn-rank-icon{
    background: url('../images/medsea-btn-rank-icon.png') no-repeat !important;
}
.medsea-btn-compile-icon{
    background: url('../images/medsea-btn-compile-icon.png') no-repeat !important;
}
.medsea-btn-format-icon{
    background: url('../images/medsea-btn-format-icon.png') no-repeat !important;
}
.medsea-btn-distribute-icon{
    background: url('../images/medsea-btn-distribute-icon.png') no-repeat !important;
}
.medsea-btn-reassign-icon{
    background: url('../images/medsea-btn-reassign-icon.png') no-repeat !important;
}
.medsea-btn-deal-icon{
    background: url('../images/medsea-btn-deal-icon.png') no-repeat !important;
}
.medsea-btn-check-icon{
    background: url('../images/medsea-btn-check-icon.png') no-repeat !important;
}
.medsea-btn-submitCheck-icon{
    background: url('../images/medsea-btn-submitCheck-icon.png') no-repeat !important;
}
.medsea-btn-submitHandle-icon{
    background: url('../images/medsea-btn-submitHandle-icon.png') no-repeat !important;
}
.medsea-btn-control-icon{
    background: url('../images/medsea-btn-control-icon.png') no-repeat !important;
}
.medsea-btn-follow-icon{
    background: url('../images/medsea-btn-follow-icon.png') no-repeat !important;
}
.medsea-btn-format-ison{
	background: url('../images/medsea-btn-format-icon.png') no-repeat !important;
}
.medsea-btn-compile-ison{
	background: url('../images/medsea-btn-compile-icon.png') no-repeat !important;
}
.medsea-btn-rank-ison{
	background: url('../images/medsea-btn-rank-icon.png') no-repeat !important;
}