.search-content{
    position: relative;
    width:100%;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 13px;color: #333333;
    padding-bottom: 20px;
    &-left{
        width: 85%;
        border-right: 1px solid #e0e0e0;
        display: inline-block;
        margin-top: 20px;
    }
    &-right{
        position: absolute;
        top: 50%;
        right: 45px;
        margin-top: -46px;
    }
    .iconStyle{
        display: block;
        height: 36px;
        width: 100px;
        font-size: 20px
    }
    .iconRefer{
        margin-top: 20px
    }
    .search-form{
        &-item{
            display: inline-block;
            margin-bottom: 20px;
            width: 33%;
            .form-item-label{
                width: 40%;
                text-align: right;
                display: inline-block
            }
            .form-item-content{
                display: inline-block;
                width: 55%;
                >div{
                    width: 100%;
                }
                input{
                    width: 60%;
                    height: 36px;
                }
            }
        }
    }
}
