// 开始
.active{background:#ecf5ff;color:#409eff;border-color:#b3d8ff;padding:6px 10px;border-radius: 100%;}
.time{padding:6px 10px;border-radius: 100%;}
.time:hover{background: #409eff;color:white;cursor:pointer;}
.blue{
    color:#409eff;
    cursor: pointer;
}
.base-box td{
    padding: 0 10px;
    
}
.base-box td.bgf5{
    padding: 0;
}
.dis-inline{
    margin-bottom: 15px;
}
// 结束
.detail-box{
    padding: 15px;
    .el-card{
        margin-bottom: 10px;
    }
    .el-card__header{
        padding: 0 0 5px;
        font-size: 18px;
        // border-radius: 0;
        background: rgb(102, 153, 204);
        color: #fff;
        line-height: 30px;
        font-weight: bold;
        border:none;
        h3{
            display:inline-block;
            // background:#409EFF;
            color:white;
            padding:5px 10px;
            margin:0;
            font-size: 18px;
        }
        .btn{
            float: right;
            margin-top: 7px;
            margin-right: 15px;
        }
    }
    .el-card__body{
        padding: 5px 10px;
        font-size: 13px;
    }
    .no-card-border{
        border: none;
        .el-card__body{
            padding: 0;
        }
    }

    .box-card .table-info-box{
        width: 100%;
        border: none;
    }
    .box-card .table-info-box > tr > td:first-child{
        text-align: right;
        // width: 48%;
        width: 130px
    }
    .box-card .table-info-box td {
        line-height: 30px;
        padding: 2px 5px;
        word-break: break-all;
    }
    .chart-btn{
        margin: 10px 0;
        text-align: center;
    }
}
